<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Findify\Findify\Api\CompressedFileInterface" type="Findify\Findify\Model\Feed\CompressedFile" />
    <preference for="Findify\Findify\Api\FileProcessorInterface" type="Findify\Findify\Model\Feed\FileProcessor" />
    <preference for="Findify\Findify\Api\FormatInterface" type="Findify\Findify\Model\Feed\Format" />
    <preference for="Findify\Findify\Api\ProductStockInterface" type="Findify\Findify\Model\Product\Stock" />
    <preference for="Findify\Findify\Api\SmartCollectionsInterface" type="Findify\Findify\Model\SmartCollections" />
    <preference for="Findify\Findify\Api\SmartCollectionsListInterface" type="Findify\Findify\Model\SmartCollectionsList" />
    <type name="Findify\Findify\Helper\Product">
        <arguments>
            <argument name="bundleType" xsi:type="object">Magento\Bundle\Model\Product\Type\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="findifyDataFeedGenerator" xsi:type="object">Findify\Findify\Console\FindifyDataFeedGeneratorCommand</item>
                <item name="createSmartCollections" xsi:type="object">Findify\Findify\Console\CreateSmartCollections</item>
            </argument>
        </arguments>
    </type>
    <type name="Findify\Findify\Model\Product\ProductRepository">
        <arguments>
            <argument name="collectionProcessor" xsi:type="object">Magento\Catalog\Model\Api\SearchCriteria\ProductCollectionProcessor</argument>
        </arguments>
    </type>
    <type name="Findify\Findify\Console\CreateSmartCollections">
        <arguments>
            <argument name="smartCollectionsHelper" xsi:type="object">Findify\Findify\Helper\SmartCollections\Proxy</argument>
        </arguments>
    </type>
    <type name="Findify\Findify\Console\FindifyDataFeedGeneratorCommand">
        <arguments>
            <argument name="state" xsi:type="object">Magento\Framework\App\State\Proxy</argument>
            <argument name="feedGenerator" xsi:type="object">Findify\Findify\Model\ProductFeedGenerator\Proxy</argument>
        </arguments>
    </type>
</config>
